// Mixins in here

.flex-row() {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.flex-column() {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.buttonDefined(@radius, @color, @width, @fontSize) {
	-webkit-border-radius: @radius;
    -moz-border-radius: @radius;
  	border-radius: @radius;

	color: @color;
	width: @width;
	font-size: @fontSize;
}